<div class="menu-container">
<button mat-button mat-raised-button (click)="selectPage(0)">O nas</button>
<button mat-button mat-raised-button (click)="selectPage(1)">Bukiety</button>
<button mat-button mat-raised-button (click)="selectPage(2)">Bukiety ślubne</button>
<button mat-button mat-raised-button (click)="selectPage(3)">Dekoracje</button>
<button mat-button mat-raised-button (click)="selectPage(4)">Wiązanki pogrzebowe</button>
<button mat-button mat-raised-button (click)="selectPage(5)">Stroiki</button>
</div>
