<div class="header main-mobile-header">
    <div>
        <mat-icon>schedule</mat-icon>
        Pon - Pt 8:00 - 20:00
    </div>
    <div>Sob 10:00 - 18:00</div>
    <div>Nie 10:00 - 16:00</div>
    <br/>
    <div>
        <mat-icon>home</mat-icon>
        Jana Nowaka-Jeziorańskiego 48,
    </div>
    <div>lok.24, 03-982 Warszawa</div>
    <div>
        <mat-icon>call</mat-icon>
        <a href="tel:571 805 501" class="text-bold">571 805 501</a>
        ,&nbsp;
        <a href="tel:511 954 147" class="text-bold">511 954 147</a>
    </div>
    <br/>
    <div>
        <button mat-button mat-raised-button (click)="openMap()">
            <mat-icon>schedule</mat-icon>
            aktualne godziny pracy
        </button>
        <a mat-button mat-raised-button href="mailto:biuro@porannarosa.com.pl ">
            <mat-icon>mail_outline</mat-icon>
            biuro@porannarosa.com.pl
        </a>
        <button mat-button mat-raised-button (click)="openMap()">
            <mat-icon>public</mat-icon>
            zobacz na mapie
        </button>
    </div>
</div>
<app-message></app-message>
<div class="main-mobile-text">
    {{story}}
</div>
<div class="mobile-panel">
    <img class="main-mobile-picture" src="assets/img/mainpic1.jpg" alt="Main1">
    <img class="main-mobile-picture" src="assets/img/mainpic2.jpg" alt="Main2">
    <img class="main-mobile-picture" src="assets/img/mainpic3.jpg" alt="Main3">
    <img class="main-mobile-picture" src="assets/img/mainpic4.jpg" alt="Main4">
</div>
