.main-mobile-text {
    text-align: justify;
    font-size: large;
    color: #D2691E;
    margin: 15px;
}

.main-mobile-header {
    font-size: large;
    color: #D2691E;
    padding: 15px;
    margin: 15px 15px 5px;
}

.main-mobile-picture {
    width: 100%;
    margin: auto;
}

.header {
    margin-bottom: 5px;
    border-bottom: dashed #FF8C00 1px;
    color: #D2691E;
    padding: 0;
    background-color: #FFFFE0;
}

.mobile-panel {
    margin: 5px;
}
