<div class="header">
    <div class="header-mobile-text">
        <mat-icon>schedule</mat-icon>
        Pon - Pt 8:00 - 20:00
    </div>
    <div class="header-mobile-text">Sob 10:00 - 18:00</div>
    <div class="header-mobile-text">Nie 10:00 - 16:00</div>
    <br/>
    <div class="header-mobile-text">
        <mat-icon>home</mat-icon>
        Jana Nowaka-Jeziorańskiego 48,
    </div>
    <div class="header-mobile-text">lok.24, 03-982 Warszawa</div>
    <div class="header-mobile-text">
        <mat-icon>call</mat-icon>
        <a href="tel:571 805 501" class="text-bold">571 805 501</a>
        ,&nbsp;
        <a href="tel:511 954 147" class="text-bold">511 954 147</a>
    </div>
    <br/>
    <div class="header-mobile-text">
        <a mat-button mat-raised-button href="mailto:biuro@porannarosa.com.pl ">
            <mat-icon>mail_outline</mat-icon>
            biuro@porannarosa.com.pl
        </a>
        <button mat-button mat-raised-button (click)="openMap()">
            <mat-icon>public</mat-icon>
            zobacz na mapie
        </button>
    </div>
</div>
<app-message></app-message>
<div class="panel panel-left-aligned">
    Działamy od 2016 r. „Poranna Rosa Florystyka i Kwiaty” to kwiaciarnia inna niż wszystkie.
    Tu każdy bukiet jest oryginalny i dopracowany. Oferujemy Państwu szeroki wachlarz usług florystycznych,
    takich jak bukiety okolicznościowe, kompozycje w koszach, naczyniach szklanych, bukiety ślubne,
    dekoracje sal weselnych, wiązanki i wieńce pogrzebowe. Swoją bogatą ofertę kierujemy zarówno do klientów
    indywidualnych jak i firm.
    Tworzymy oryginalne kompozycje na każdą okazję i kieszeń, traktując każdy bukiet czy wiązankę jako dzieło
    sztuki,
    dostosowane do indywidualnych potrzeb klienta.
</div>
<div class="panel">
    <img class="main-mobile-picture" src="assets/img/mainpic1.jpg" alt="Main1">
    <img class="main-mobile-picture" src="assets/img/mainpic2.jpg" alt="Main2">
    <img class="main-mobile-picture" src="assets/img/mainpic3.jpg" alt="Main3">
    <img class="main-mobile-picture" src="assets/img/mainpic4.jpg" alt="Main4">
</div>
