.message {
    margin: 15px;
    color: white;
    background-color: #FF8C00;
    border: dashed #FF8C00 1px;
    padding: 15px;
    text-align: center;
    font-size: large;
}

.hidden-message {
    display: none;
}
