<div class="header">
  <img class="header-logo" src="assets/img/logo_long_yellow.jpg">
  <div class="header-text">
    <mat-icon>schedule</mat-icon>
    Pon - Pt 8:00 - 20:00
  </div>
  <div class="header-text">Sob 10:00 - 18:00</div>
  <div class="header-text">Nie 10:00 - 16:00</div>
  <br />
  <div class="header-text">
    <mat-icon>home</mat-icon>
    Jana Nowaka-Jeziorańskiego 48,
  </div>
  <div class="header-text">lok.24, 03-982 Warszawa</div>
  <div class="header-text">
    <mat-icon>call</mat-icon>
    <a href="tel:571 805 501" class="text-bold">571 805 501</a>
    ,&nbsp;
    <a href="tel:511 954 147" class="text-bold">511 954 147</a>
  </div>
  <br />
  <div class="header-text">
    <mat-icon>mail_outline</mat-icon>
    <a href="mailto:biuro@porannarosa.com.pl ">biuro@porannarosa.com.pl</a> ,
    <mat-icon>public</mat-icon>
    <a href="https://goo.gl/maps/LcYZAdwVFmUwUu347">zobacz na mapie</a>
  </div>
</div>