<div class="header">
<div class="header-text">Poniedziałek - Piątek 8:00 - 20:00</div>
<div class="header-text">Sobota 10:00 - 18:00</div>
<div class="header-text">Niedziela 10:00 - 16:00</div>
  <br/>
<div class="header-text">Jana Nowaka-Jeziorańskiego 48,</div>
<div class="header-text">lok.24, 03-982 Warszawa</div>
  <div class="header-text">tel. <span class="text-bold">571 805 501, 511 954 147</span></div>
  <br/>
<div class="header-text"><a href="mailto:biuro@porannarosa.pl ">biuro@porannarosa.pl</a> ,
  <a href="https://goo.gl/maps/LcYZAdwVFmUwUu347">mapy Google</a></div>
</div>


