.mobile-logo {
    margin-left: auto;
    margin-right: 0;
    max-width: 80vw;
}

.mobile-header {
    margin-bottom: 5px;
    color: #D2691E;
    padding: 0;
    background-color: #FFFFE0;
    border-bottom: dashed #FF8C00 1px;
}

.mobile-button-large {
    font-size: x-large;
    font-weight: bold;
    margin: 5px;
}

.mat-icon-button {
    transform: scale(2);
    margin: 15px;
}
