.mobile-logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.mobile-header {
    margin: 15px;
    color: #D2691E;
    border: dashed #FF8C00 1px;
    padding: 15px;
    background-color: #FFFFE0;
}

.mobile-button-large {
    font-size: x-large;
    font-weight: bold;
    width: max-content;
}

.mat-icon {
    margin-top: 50px;
    height: 48px !important;
    width: 48px !important;
    font-size: 48px !important;
}
