@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightyellow;
}

a {
  color: chocolate;
}

.text-bold {
  font-weight: bold;
  color: darkorange;
}

.header {
  margin: 15px;
  color: chocolate;
  border: dashed darkorange 1px;
  padding: 15px;
}

.header-text {
    text-align: right;
}

.header-logo {
  position: relative;
  margin: auto;
  width: 70%
}

.menu-container {
  color: white;
  text-align: center;
}

.panel {
  margin: 15px;
  color: chocolate;
  border: dashed darkorange 1px;
  padding: 15px;
  text-align: center;
}

.panel-left-aligned {
  margin: 15px;
  color: chocolate;
  border: dashed darkorange 1px;
  padding: 15px;
  text-align: left;
}

.main-picture {
  height: 30%;
  width: 40%;
  margin-right: 5px;
}

.message {
  margin: 15px;
  color: white;
  background-color: red;
  border: dashed darkorange 1px;
  padding: 15px;
  text-align: center;
}

.mat-icon {
  vertical-align: bottom;
  padding-right: 5px;
}

.mat-button {
  background-color: lightyellow;
  color: chocolate;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

.mat-button:hover {
  background-color: darkorange;
  color: white;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}

.mat-button-selected {
  background-color: darkorange;
  color: white;
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}



