@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: lightyellow;
}

a {
  color: chocolate;
}

.text-bold {
  font-weight: bold;
  color: darkorange;
}

.header {
  background-image: url("assets/img/logo_long_yellow.jpg");
  background-position: left;
  background-position-x: 20px;
  background-repeat: no-repeat;
  background-size: 50%;
  margin: 15px;
  color: chocolate;
  border: dashed darkorange 1px;
  padding: 15px;
}

.header-text {
    text-align: right;
}

.panel {
  margin: 15px;
  color: chocolate;
  border: dashed darkorange 1px;
  padding: 15px;
  text-align: center;
}
.main-picture {
  height: 30%;
  width: 40%;
}


