@import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; /* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #FFFFE0;
}

a {
    color: #D2691E;
}

.text-bold {
    font-weight: bold;
    color: #FF8C00;
}

.panel {
    margin: 15px;
    color: #D2691E;
    border: dashed #FF8C00 1px;
    padding: 15px;
    text-align: center;
}

.panel-left-aligned {
    margin: 15px;
    color: #D2691E;
    border: dashed #FF8C00 1px;
    padding: 15px;
    text-align: left;
}

.mat-icon {
    vertical-align: bottom;
    padding-right: 5px;
}

.mat-button {
    background-color: #FFFFE0;
    color: #D2691E;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.button-large {
    font-size: large;
    font-weight: bold;
    width: max-content;
}

.mat-button:hover {
    background-color: #FF8C00;
    color: white;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}

.mat-button-selected {
    background-color: #FF8C00;
    color: white;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
}
