<div class="panel panel-left-aligned">
    Działamy od 2016 r. „Poranna Rosa Florystyka i Kwiaty” to kwiaciarnia inna niż wszystkie.
    Tu każdy bukiet jest oryginalny i dopracowany. Oferujemy Państwu szeroki wachlarz usług florystycznych,
    takich jak bukiety okolicznościowe, kompozycje w koszach, naczyniach szklanych, bukiety ślubne,
    dekoracje sal weselnych, wiązanki i wieńce pogrzebowe. Swoją bogatą ofertę kierujemy zarówno do klientów
    indywidualnych jak i firm.
    Tworzymy oryginalne kompozycje na każdą okazję i kieszeń, traktując każdy bukiet czy wiązankę jako dzieło sztuki,
    dostosowane do indywidualnych potrzeb klienta.
    <img class="main-picture" src="assets/img/mainpic1.jpg" alt="Main1">
    <img class="main-picture" src="assets/img/mainpic2.jpg" alt="Main2">
    <img class="main-picture" src="assets/img/mainpic3.jpg" alt="Main3">
    <img class="main-picture" src="assets/img/mainpic4.jpg" alt="Main4">
</div>
